@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* selection color change */
::selection {
  background-color: #14b8a6;
  color: white;
}

* {
  @apply dark:text-white
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #ced4da;

  @apply dark:border-[#373A40]
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
